<!DOCTYPE html>
<head>
    <script> var exports = {};</script>
    <!-- <script src="../../js/Controllers/Bolus_calculator.js"></script> -->
    <script type= "module" src="../Models/Postcalc.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Bolus calculator</title>
</head>
<html>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <a id="name" class="navbar-brand">Niet ingelogd</a>
            <a class="navbar-brand" href="./bolus.html">Bolus calculator</a>
            <a class="link" href="./history.html" style="color: white;">View history</a>
            <p>&nbsp;</p>
            <a class="link" href="./index.html" style="color: white;" onclick=" relocate_logout()">Logout</a>    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> 
          </nav>

          <script>
            function relocate_logout()
            {
                const date = new Date();
              // Set it expire in -1 days
              date.setTime(date.getTime() + (-1 * 24 * 60 * 60 * 1000));
              // Set it
              document.cookie = "id=; expires="+date.toUTCString()+"; path=/";
              location.href = "index.html";
            }
        </script>
       <div class="container">
           <br>
           <h5>Calculate your bolus.</h5>
           <br>
           <div class="card ">
                <div class="card-body">
                    <div class=" justify-content-center"> 
                        <label for="weightInput">Your weight in kilograms: </label>
                        <input type="number" class="form-control" id="weightInput" placeholder="Enter weight in kilograms" min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
                    </div>  
                    <br>
                    <div class=" justify-content-center"> 
                        <label for="carbsInput">Amount of carbs in grams: </label>
                        <input type="number"class="form-control" id="carbsInput" placeholder="Enter amount of carbs in grams" min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
                    </div>
                    <br>
                    <div class="d-flex justify-content-center"> 
                        <button class="btn btn-primary" id="Calculate">Calculate bolus</button>
                    <br>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center" id="result" style="visibility: hidden">
                        <div class="alert alert-primary">
                        <h3 id="totalOutput"></h3>
                        <br>  
                        <h3 id="calculationOutput"></h3> 
                        <br>
                        <h3 id="basalOutput"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

       <div class="bg-info d-flex justify-content-around" style="padding-bottom: 10px; padding-top: 10px; position: fixed; left: 0; bottom: 0; width: 100%;">
            
        
            <h6 class="font-weight-light">   groep2 © - 2021</h6>
            <h6 class="font-weight-light">Philips Bolus calculator</h6>
            <h6 class="font-weight-light">groep2 © - 2021</h6>
            
       </div>

    </body>
</html>