<head>
    <script>var exports = {};</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>History</title>

    <style>
        .col {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }

        .colHead {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(0, 0, 0, 0.562);
            border: 1px solid rgba(0, 0, 0, 0.699);
            color: white;
            font-weight: bold;
        }
    </style>

</head>
<html>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="./index.html">Bolus calculator</a>
        <a class="link" href="./history.html" style="color: white;">View history</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="card ">
        <div class="card-body">
            

            <div style="width: 100%; height: 450px ; text-align: center;">
                <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
                <canvas style="display: inline-block;" id="CarbsPerDay" width="400" height="400"></canvas>
                <canvas style="display: inline-block;" id="UnitsPerDay" width="400" height="400"></canvas>
            </div>

            <template id="template">
                <div class="row" name="col">
                    <div class="col colDate" name="col">
                        {date}
                    </div>
                    <div class="col colWeight" name="col">
                        {Weight}
                    </div>
                    <div class="col colCarbs" name="col">
                        {Carbs}
                    </div>
                    <div class="col colTdi" name="col">
                        {Tdi}
                    </div>
                    <div class="col colBd" name="col">
                        {Bd}
                    </div>
                    <div class="col colUnits" name="col">
                        {Units}
                    </div>
                </div>
            </template>

            <div class="container" id="gridContainer">
                <div class="row">
                    <div class="col colHead">
                        Date:
                    </div>
                    <div class="col colHead">
                        Weight:
                    </div>
                    <div class="col colHead">
                        Carbs:
                    </div>
                    <div class="col colHead">
                        Tdi:
                    </div>
                    <div class="col colHead">
                        Bd:
                    </div>
                    <div class="col colHead">
                        Units:
                    </div>
                </div>
                <button id="resetButton" style="position: absolute; margin-top: 25px; left: 25%; display: none;" onclick="FillGrid()">We didn't find any items for the specified filter. Click here to show all history.</button>
            </div>
        </div>
    </div>
</body>

</html>


<script src="../../js/Models/history.js"></script>
