<head>
  <script>var exports = {};</script>
  <script type="module" src="../Models/RegisterForm.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <title>Register</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="./index.html">Bolus calculator</a>
    <a class="link" href="./history.html" style="color: white;">View history</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</body>

<div class="container">
  <br>
  <div class="card ">
    <div class="card-body">
        <h5>Register an account</h5>
        <br>
        <div class="form-group">
          <label for="inputFirstName">First name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
        </div>
        <div class="form-group">
          <label for="inputLastName">Last name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="example@email.com">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">          
          <label for="selectRole">Role</label>
          <select onchange="DisableGpSelect()" class="form-control" type="select" value="patient" id="selectRole">
            <option value="patient">Patient</option>
            <option value="GP">General practitioner</option>
          </select>
        </div>
        <div class="form-group">          
          <label for="selectGP">Choose your general practitioner</label>
          <select class="form-control" type="select" id="selectGP">
            <option value="Nick van der Meer">Nick van der Meer</option>
          </select>
        </div>
        <br>
        <button id="Register" class="btn btn-primary">Register account</button>
    </div>
  </div>
</div>
</body>



<script>
  function DisableGpSelect()
  {
    if (document.getElementById("selectRole").value == "GP")
    {
      document.getElementById("selectGP").disabled = true;
    }
    else{
      document.getElementById("selectGP").disabled = false;
    }
  }
</script>